.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 4rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.logoLink{
    text-decoration: none;
}

.logoContainer{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logoImg{
    width: 50px;
    height: 50px;
}

.logo{
    font-size: 20px;
    color: #000;
    font-weight: 500;
}

.menu{
    display: flex;
    gap: 1rem;
    list-style: none;
}

.menuItem{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.buttonConatiner{
    display: flex;
    gap: 1rem;
}

